<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<form action="/save" method="post">
    <label>email</label> <input type="text" value="" name="email"><br>
    <label>fullname</label> <input type="text" value="" name="fullName"><br>
    <label>password</label> <input type="text" value="" name="password"><br>
    <label>phone</label> <input type="text" value="" name="phone"><br>
    <label>role</label> <input type="radio" name="role" value="true"> Quản lý
    <input type="radio" name="role" value="false"> Nhân viên
    <br>
    <label>active</label>
    <input type="radio" name="active" value="true"> Hoạt động
    <input type="radio" name="active" value="false"> Không hoạt động
    <br>
    <button type="submit">Thêm</button>
</form>
<table class="table table-bordered">
    <thead>
    <tr>
        <td>ID</td>
        <td>email</td>
        <td>full name</td>
        <td>password</td>
        <td>phone</td>
        <td>role</td>
        <td>active</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.fullName}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.active}"></td>
        <!--        id phai trung voi @request param-->
        <td><a th:href="@{|/delete?id=${user.id}|}" class="btn btn-primary">Xóa</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>